<style>
  .enginegroup{
    cursor: pointer; 
    display: inline; 
		margin-left: 3px;
  }
  .order{
    display: inline; 
		margin-left: 15px;
  }
 
</style>

<div id="engineTable" class="panel panel-default"> 
    <%
    if(engines){
      for(let i=0;i<engines.length;i++){
        let engine = engines[i];
    %>
    <div class="panel-heading" style="font-weight: 700;">
        <input name="enginecheckbox" style="vertical-align:text-top;margin-top:0;line-height: 16px;height:16px;" type="checkbox" value="<%=engine.id %>" /><div class="enginegroup text-primary" name="enginegroup" ><%=engine.name%></div>
    </div> 
    <div id="<%=engine.id %>_authgroup" class="panel-body">
      <div class="row">
          <div class="order" style="font-weight: 700;">
            权限设置：
          </div>
          <%
            for(let j=0;j<engine.engine_auths.length;j++){
              let auth = engine.engine_auths[j];
          %>
          <div class="order">
            <input type="checkbox" style="vertical-align:text-top;margin-top:0;line-height: 16px;height:16px;"  name="authcheckbox" value="<%=auth.id%>" /> 
            <div class="enginegroup" name="engineauth" >
              <%=auth.name%>
            </div>
          </div>
          <%
            }
          %>  
      </div> 
    </div>
    <%
      }
    }
    %> 
  </div>

  <script>
  
  $(function(){
    $('[name="enginegroup"]').bind('click',function(){
      var check = $(this).parent().find('[name="enginecheckbox"]'); 
      check.prop("checked", !check.prop("checked")); 
      var flag = check.prop("checked");
      if(!flag){
        var val = check.val();
        $("#"+val+"_authgroup :checkbox").each(function(){
          $(this).prop('checked',flag);
        });
      }
    });

    $('[name="enginecheckbox"]').change(function(){
      var flag = $(this).prop("checked");
      if(!flag){
        var val = $(this).val();
        $("#"+val+"_authgroup :checkbox").each(function(){
          $(this).prop('checked',flag);
        });
      }
    });

    $('[name="engineauth"]').bind('click',function(){
      var check = $(this).parent().find(':checkbox'); 
      check.prop("checked", !check.prop("checked")); 
      var flag = check.prop("checked");
      if(flag){
        $("[name='enginecheckbox']").prop('checked',flag);
      }
    });

    $('[name="authcheckbox"]').bind('click',function(){
      var flag = $(this).prop("checked");
      if(flag){
        $("[name='enginecheckbox']").prop('checked',flag);
      }
    }) 
  });

  </script>